#define MAJOR 1
#define MINOR 21

#define STRINGIZE_(X) #X
#define STRINGIZE(X) STRINGIZE_(X)
#define DECIMAL2(X) 1##X-100
#define VERSION_STRING MAJOR.MINOR
#define VERSION_VECTOR MAJOR,DECIMAL2(MINOR)

#include "resource.h"

#include "afxres.h"

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)

/////////////////////////////////////////////////////////////////////////////
//
// HTML
//

SCINTILLALICENSE.TXT    HTML    DISCARDABLE     "../scintilla/License.txt"

/////////////////////////////////////////////////////////////////////////////
//
// Bitmap
//

IDR_MAINFRAME           BITMAP  MOVEABLE PURE   "res/Toolbar.bmp"
IDB_IMAGELIST           BITMAP  DISCARDABLE     "res/Imagelist.bmp"

/////////////////////////////////////////////////////////////////////////////
//
// Toolbar
//

IDR_MAINFRAME TOOLBAR DISCARDABLE  16, 16
BEGIN
    BUTTON      ID_FILE_NEW
    BUTTON      ID_FILE_OPEN
    BUTTON      ID_FILE_SAVE
    SEPARATOR
    BUTTON      ID_FILE_PRINT
    SEPARATOR
    BUTTON      ID_EDIT_CUT
    BUTTON      ID_EDIT_COPY
    BUTTON      ID_EDIT_PASTE
    BUTTON      ID_EDIT_CLEAR
    SEPARATOR
    BUTTON      ID_EDIT_UNDO
    BUTTON      ID_EDIT_REDO
    SEPARATOR
    BUTTON      ID_EDIT_FIND
    BUTTON      ID_EDIT_REPLACE
    SEPARATOR
    BUTTON      ID_ZOOM_IN
    BUTTON      ID_ZOOM_OUT
    BUTTON      ID_ZOOM_ZERO
    SEPARATOR
    BUTTON      ID_QUERY_EXECUTE
    SEPARATOR
    BUTTON      ID_HELP_TRACE
    SEPARATOR
    BUTTON      ID_APP_ABOUT
END


/////////////////////////////////////////////////////////////////////////////
//
// Accelerator
//

IDR_MAINFRAME ACCELERATORS PRELOAD MOVEABLE PURE 
BEGIN
    "E",            ID_QUERY_EXECUTE,       VIRTKEY, CONTROL, NOINVERT
    "F",            ID_EDIT_FIND,           VIRTKEY, CONTROL, NOINVERT
    "H",            ID_EDIT_REPLACE,        VIRTKEY, CONTROL, NOINVERT
    "M",            ID_EDIT_COPY_HTML,      VIRTKEY, CONTROL, NOINVERT
    "N",            ID_QUERY_NEW,           VIRTKEY, CONTROL, NOINVERT
    "O",            ID_FILE_OPEN,           VIRTKEY, CONTROL, NOINVERT
    "P",            ID_FILE_PRINT,          VIRTKEY, CONTROL, NOINVERT
    "S",            ID_FILE_SAVE,           VIRTKEY, CONTROL, NOINVERT
    "T",            ID_FILE_NEW,            VIRTKEY, CONTROL, NOINVERT
    VK_F3,          ID_EDIT_REPEAT,         VIRTKEY, NOINVERT
END

VS_VERSION_INFO VERSIONINFO
 FILEVERSION VERSION_VECTOR
 PRODUCTVERSION VERSION_VECTOR
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS VS_FF_DEBUG
#else
 FILEFLAGS 0
#endif
 FILEOS 0x4L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "000004b0"
        BEGIN
            VALUE "Comments", "Distributed under version 2 of the GNU General Public License\0"
            VALUE "CompanyName", "Jochen Neubeck"
            VALUE "FileDescription", "ODBCQuery"
            VALUE "FileVersion", STRINGIZE(VERSION_STRING)
            VALUE "InternalName", "ODBCQuery"
            VALUE "LegalCopyright", "© 2007-2013 Jochen Neubeck"
            VALUE "LegalTrademarks", ""
            VALUE "OriginalFilename", "ODBCQuery.exe"
            VALUE "PrivateBuild", ""
            VALUE "ProductName", "ODBCQuery"
            VALUE "ProductVersion", STRINGIZE(VERSION_STRING)
            VALUE "SpecialBuild", ""
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0, 1200
    END
END

/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE PRELOAD DISCARDABLE 
BEGIN
    IDR_MAINFRAME           "ODBCQuery"
    IDR_ODBCQUTYPE          "\nUntitled_\nUntitled_\n\n\nODBCQuery.Document\nODBCQuery Document"
    IDS_SCINTILLA_DEFAULT_PRINT_HEADER "%1 - Printed on %2"
    IDS_SCINTILLA_DEFAULT_PRINT_FOOTER "Page %1"
END

STRINGTABLE PRELOAD DISCARDABLE 
BEGIN
    AFX_IDS_APP_TITLE       "ODBCQuery"
    AFX_IDS_IDLEMESSAGE     "Ready"
END

STRINGTABLE DISCARDABLE 
BEGIN
    ID_INDICATOR_EXT        "EXT"
    ID_INDICATOR_CAPS       "CAP"
    ID_INDICATOR_NUM        "NUM"
    ID_INDICATOR_SCRL       "SCRL"
    ID_INDICATOR_OVR        "OVR"
    ID_INDICATOR_REC        "REC"
END

STRINGTABLE DISCARDABLE 
BEGIN
    ID_FILE_NEW             "Create a new document\nNew"
    ID_FILE_OPEN            "Open an existing document\nOpen"
    ID_FILE_CLOSE           "Close the active document\nClose"
    ID_FILE_SAVE            "Save the active document\nSave"
    ID_FILE_SAVE_AS         "Save the active document with a new name\nSave As"
    ID_FILE_PAGE_SETUP      "Change the printing options\nPage Setup"
    ID_FILE_PRINT_SETUP     "Change the printer and printing options\nPrint Setup"
    ID_FILE_PRINT           "Print the active document\nPrint"
    ID_FILE_PRINT_PREVIEW   "Display full pages\nPrint Preview"
END

STRINGTABLE DISCARDABLE 
BEGIN
    ID_APP_ABOUT            "Display program information, version number and copyright\nAbout"
    ID_APP_EXIT             "Quit the application; prompts to save documents\nExit"
END

STRINGTABLE DISCARDABLE 
BEGIN
    ID_FILE_MRU_FILE1       "Open this document"
    ID_FILE_MRU_FILE2       "Open this document"
    ID_FILE_MRU_FILE3       "Open this document"
    ID_FILE_MRU_FILE4       "Open this document"
    ID_FILE_MRU_FILE5       "Open this document"
    ID_FILE_MRU_FILE6       "Open this document"
    ID_FILE_MRU_FILE7       "Open this document"
    ID_FILE_MRU_FILE8       "Open this document"
    ID_FILE_MRU_FILE9       "Open this document"
    ID_FILE_MRU_FILE10      "Open this document"
    ID_FILE_MRU_FILE11      "Open this document"
    ID_FILE_MRU_FILE12      "Open this document"
    ID_FILE_MRU_FILE13      "Open this document"
    ID_FILE_MRU_FILE14      "Open this document"
    ID_FILE_MRU_FILE15      "Open this document"
    ID_FILE_MRU_FILE16      "Open this document"
END

STRINGTABLE DISCARDABLE 
BEGIN
    ID_NEXT_PANE            "Switch to the next window pane\nNext Pane"
    ID_PREV_PANE            "Switch back to the previous window pane\nPrevious Pane"
END

STRINGTABLE DISCARDABLE 
BEGIN
    ID_WINDOW_NEW           "Open another window for the active document\nNew Window"
    ID_WINDOW_ARRANGE       "Arrange icons at the bottom of the window\nArrange Icons"
    ID_WINDOW_CASCADE       "Arrange windows so they overlap\nCascade Windows"
    ID_WINDOW_TILE_HORZ     "Arrange windows as non-overlapping tiles\nTile Windows"
    ID_WINDOW_TILE_VERT     "Arrange windows as non-overlapping tiles\nTile Windows"
    ID_WINDOW_SPLIT         "Split the active window into panes\nSplit"
END

STRINGTABLE DISCARDABLE 
BEGIN
    ID_EDIT_CLEAR           "Erase the selection\nErase"
    ID_EDIT_CLEAR_ALL       "Erase everything\nErase All"
    ID_EDIT_COPY            "Copy the selection and put it on the Clipboard\nCopy"
    ID_EDIT_CUT             "Cut the selection and put it on the Clipboard\nCut"
    ID_EDIT_FIND            "Find the specified text\nFind"
    ID_EDIT_PASTE           "Insert Clipboard contents\nPaste"
    ID_EDIT_REPEAT          "Repeat the last action\nRepeat"
    ID_EDIT_REPLACE         "Replace specific text with different text\nReplace"
    ID_EDIT_SELECT_ALL      "Select the entire document\nSelect All"
    ID_EDIT_UNDO            "Undo the last action\nUndo"
    ID_EDIT_REDO            "Redo the previously undone action\nRedo"
END

STRINGTABLE DISCARDABLE 
BEGIN
    ID_VIEW_TOOLBAR         "Show or hide the toolbar\nToggle ToolBar"
    ID_VIEW_STATUS_BAR      "Show or hide the status bar\nToggle StatusBar"
END

STRINGTABLE DISCARDABLE 
BEGIN
    AFX_IDS_SCSIZE          "Change the window size"
    AFX_IDS_SCMOVE          "Change the window position"
    AFX_IDS_SCMINIMIZE      "Reduce the window to an icon"
    AFX_IDS_SCMAXIMIZE      "Enlarge the window to full size"
    AFX_IDS_SCNEXTWINDOW    "Switch to the next document window"
    AFX_IDS_SCPREVWINDOW    "Switch to the previous document window"
    AFX_IDS_SCCLOSE         "Close the active window and prompts to save the documents"
END

STRINGTABLE DISCARDABLE 
BEGIN
    AFX_IDS_SCRESTORE       "Restore the window to normal size"
    AFX_IDS_SCTASKLIST      "Activate Task List"
    AFX_IDS_MDICHILD        "Activate this window"
END

STRINGTABLE DISCARDABLE 
BEGIN
    AFX_IDS_PREVIEW_CLOSE   "Close print preview mode\nCancel Preview"
END

STRINGTABLE DISCARDABLE 
BEGIN
    ID_HELP_TRACE           "Turn ODBC tracing on/off\nODBC tracing"
    ID_HELP_ODBC_INFO       "Display ODBC Driver Info\nODBC Driver Info (F10)"
END

STRINGTABLE DISCARDABLE 
BEGIN
    ID_QUERY_EXECUTE        "Execute the query\nExecute Query (Ctrl+E)"
    ID_ZOOM_ZERO            "Reset the text font zoom factor\nReset zoom"
    ID_ZOOM_IN              "Increase the text font zoom factor\nZoom in"
    ID_ZOOM_OUT             "Decrease the text font zoom factor\nZoom out"
END

STRINGTABLE DISCARDABLE 
BEGIN
    ID_QUERY_NEW            "Open a new query/results set window with a connection to the same data source\nNew Query (Ctrl+N)"
END

#define _AFX_NO_SPLITTER_RESOURCES
#define _AFX_NO_OLE_RESOURCES
#define _AFX_NO_TRACKER_RESOURCES
#define _AFX_NO_PROPERTY_RESOURCES

#include "ODBCQuery.dlg"
#include "afxres.rc"          // Standardkomponenten
#include "afxprint.rc"        // Ressourcen für Drucken/Seitenansicht
#include "afxdb.rc"           // Datenbankressourcen
