#define MAJOR 1
#define MINOR 21

#define STRINGIZE_(X) #X
#define STRINGIZE(X) STRINGIZE_(X)
#define DECIMAL2(X) 1##X-100
#define VERSION_STRING MAJOR.MINOR
#define VERSION_VECTOR MAJOR,DECIMAL2(MINOR)

#include "resource.h"

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
#pragma code_page(1252)

#include "ODBCTrace.dlg"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION VERSION_VECTOR
 PRODUCTVERSION VERSION_VECTOR
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS VS_FF_DEBUG
#else
 FILEFLAGS 0
#endif
 FILEOS 0x40004L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "000004b0"
        BEGIN
            VALUE "Comments", "Distributed under GNU LGPL. See http://gnu.org/licenses/lgpl.html for details."
            VALUE "CompanyName", "Jochen Neubeck"
            VALUE "FileDescription", "ODBCTrace"
            VALUE "FileVersion", STRINGIZE(VERSION_STRING)
            VALUE "InternalName", "ODBCTrace"
            VALUE "LegalCopyright", "© 2006-2013 Jochen Neubeck"
            VALUE "LegalTrademarks", ""
            VALUE "OriginalFilename", "ODBCTrace.dll"
            VALUE "PrivateBuild", ""
            VALUE "ProductName", "ODBCTrace"
            VALUE "ProductVersion", STRINGIZE(VERSION_STRING)
            VALUE "SpecialBuild", ""
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0, 1200
    END
END
